$cor-fundo: #EEE;
$cor-fonte: #333; 
$borda-padrao: 10px;
$fundo-padrao: #CCC;
$item-width: 250px;


@mixin girar($graus) {
    transform: rotate($graus);
    -webkit-transform: rotate($graus);
    -moz-transform: rotate($graus);
    -ms-transform: rotate($graus);
}

nav{
    background-color: $cor-fundo;
    height: 100px;
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li{
        display: inline-block;
        @include girar(30deg);
        a{
            display: block;
            background-color: $fundo-padrao;
            padding: 10px;
            text-decoration: none;
            color: $cor-fonte;
            &:hover{
                background-color: #999;
                color: #fff;
            }
        }
    }
}

%item{
   background-color: #000;
   height: 40px;
   margin-bottom: 5px; 
}

.item{
    @extend %item;
    width: $item-width;
}

.item-duplo {
    @extend %item;
    width: $item-width * 2;
}

.item-metade {
    @extend %item;
    width: $item-width / 2;
}

.item-triplo {
    @extend %item;
    width: $item-width * 3;
}


%item-padrao {
    font-size: 14px;
    border: 1px solid #333;
    padding: 5px;   
}

%item-negrito {
    font-weight: bold;
}

@for $i from 1 through 10 {
    
    .item#{$i} {
        @extend %item-padrao;
    
        @if $i <= 3 {
            @extend %item-negrito;
        }
    
    }
}

h1{
    color: $cor-fonte;
    font-size: 40px;
}