$cor-fundo: #EEE;
$cor-fonte: #333; 
$borda-padrao: 10px;
$fundo-padrao: #CCC;
$item-width: 250px;


@mixin girar($graus) {
    transform: rotate($graus);
    -webkit-transform: rotate($graus);
    -moz-transform: rotate($graus);
    -ms-transform: rotate($graus);
}

nav{
    background-color: $cor-fundo;
    height: 100px;
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li{
        display: inline-block;
        @include girar(30deg);
        a{
            display: block;
            background-color: $fundo-padrao;
            padding: 10px;
            text-decoration: none;
            color: $cor-fonte;
        }
    }
}

%item{
   background-color: #000;
   height: 40px;
   margin-bottom: 5px; 
}

.item{
    @extend %item;
    width: $item-width;
}

.item-duplo {
    @extend %item;
    width: $item-width * 2;
}

.item-metade {
    @extend %item;
    width: $item-width / 2;
}

.item-triplo {
    @extend %item;
    width: $item-width * 3;
}