nav {
  background-color: #EEE;
  height: 100px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}
nav li a {
  display: block;
  background-color: #CCC;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
nav li a:hover {
  background-color: #999;
  color: #fff;
}

.item, .item-duplo, .item-metade, .item-triplo {
  background-color: #000;
  height: 40px;
  margin-bottom: 5px;
}

.item {
  width: 250px;
}

.item-duplo {
  width: 500px;
}

.item-metade {
  width: 125px;
}

.item-triplo {
  width: 750px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
  font-size: 14px;
  border: 1px solid #333;
  padding: 5px;
}

.item1, .item2, .item3 {
  font-weight: bold;
}

h1 {
  color: #333;
  font-size: 40px;
}
