@charset "UTF-8";
/*variáveis*/
/*display 1*/
main {
  display: grid;
  max-width: 1440px;
  margin: auto;
}

.purple {
  background-color: #7541c8;
  grid-column: 1 / 2;
  background-repeat: no-repeat;
  max-width: 600px;
  border-radius: 8px;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-position-x: right;
  background-position-y: top;
}

.img {
  padding: 30px;
}

.img1 img {
  border-radius: 30px;
  margin-top: -10px;
  border: 1px solid #cfcfcf;
}

.title {
  margin-left: 10px;
}

.title h3,
.title h5 {
  font-size: 15px;
  font-family: "Barlow Semi Condensed";
}

.title h3 {
  font-weight: 600;
  margin-top: 10px;
  color: #ecf2f8;
}

.title h5 {
  font-weight: 500;
  margin-top: -10px;
  color: #cfcfcf;
}

.img1 {
  display: flex;
  align-items: center;
}

.desc h1 {
  font-size: 18px;
  font-family: "Barlow Semi Condensed";
  color: #ecf2f8;
}

.desc h2 {
  font-size: 15px;
  font-family: "Barlow Semi Condensed";
  color: #cfcfcf;
}

/* display 2*/
